.tools-container {
  margin-top: 24px;
}

.tool-item {
  align-items: center;
  display: flex;
  position: relative;
}

.tool-item-link {
  background: #202936;
  box-shadow: 0 1px 3px rgba(0,0,0,.24);
  color: #f2f2f2;
  display: block;
  font-family: "AI-Titles-Bold", serif;
  font-size: 20px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

a.tool-item-link:focus,
a.tool-item-link:hover {
  background: #121820;
  color: #f2f2f2;
}

.coming-soon .tool-item-link {
  background: #f2f2f2;
  color: #cfcfd0;
}

.tool-item-info {
  background: #4b832a;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 8px;
  max-height: 26px;
  position: absolute;
  top: 0;
  right: 8px;
  z-index: 1;
}

.tool-item-info .material-icons {
  font-size: 19px;
}
